 /* Encabezado */
 header{
    position: absolute;
    width: 1366px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #06376F;
    /* background: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); */
 }
 .header_img{
    width: 60px;
    margin-top: 10px;
    margin-left: 50px;
 }
.header_li{
    float: left;
    list-style: none;
    padding: 10px;
    background-color: #5D58D7;
    border-radius: 9px;
    margin-left: 10px;
 }
 .header_nav{
    float: right;
    margin-top: 5px;
    margin-right: 50px;
 }
 .header_a{
    text-decoration: none;
    width: 187px;
    height: 34px;
    left: 1003px;
    top: 29px;

    font-family: PT Serif Caption;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #FFFFFF;

 }
/* sub encabezado */
.sub_encabezado{
    position: absolute;
    width: 1366px;
    height: 200px;
    left: 0px;
    top: 70px;
    /* background: #205EA5; */
    background:  url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);

}
.img_personal{
    position: absolute;
    width: 130px;
    height: 180px;
    left: 150px;
    top: 10px;
    border-radius: 40px;
}
.nombre_cv{
    color: white;
    text-align: right;
    margin-top: 50px;
    margin-right: 400px;
    font-family: PT Serif Caption;
    font-size: 50px;
}
.licenciatura{
    color: white;
    text-align: right;
    margin-top: 10px;
    margin-right: 350px;
    font-family: PT Serif Caption;
    font-size: 30px;
}

/* body */
body{
    background-color: #E5E5E5;
}
.nom_repo{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: PT Serif Caption;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
}

section{
    margin-top: 290px;
}
/* home */

table{
    margin-left: 10px;
    margin-right: 10px;
}
table, tr, th, td{
   border: 3px solid white;
   
   text-align: center;
}
td{
    background-color:#A6A4D9;
    border-radius: 46px;
}

/* repositorio */
.img_repo{
    width: 300px;
    height: 300px;
    margin-left: 500px;
    top: 10px;
    text-align: center;
}

/* Portafolio */

/* contacto */
.img_contacto{
    width: 200px;
    height: 200px;
    margin-left: 300px;
    top: 10px;
    text-align: center;
}
.a_contacto{
    text-align: center;
    color: #06376F;
    top: 100px;
}
form{
    background-color: #5D58D7;
    border: 10px solid #5D58D7;
    position: absolute;
    width: 356px;
    height: 250px;
    margin-right: 50px;
    margin-left: 800px;
    top: 300px;
    border-radius: 46px;
}
.nombre{
font-family: PT Serif Caption;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
left: 480px;
top: 430px;
margin-left: 30px;
}
.email{
    font-family: PT Serif Caption;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    left: 480px;
    top: 430px;
    margin-left: 30px;
}
.mensaje{
    font-family: PT Serif Caption;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    left: 480px;
    top: 430px;
    margin-left: 30px; 
}
.boton{
    padding: 140px;
    margin-bottom: 10px;
}
#mensaje{
    margin-right: 50px;
    height: 140px;
    width: 300px;
    border-radius: 20px;
}